.App {
  text-align: center;
  /* display: flex;*/
} 

.recipe-poster {
  height: 400px;
  width: 550px;
  object-fit:cover;
}

.recipe-name {
  padding: 16px;
  font-size: 46px;
  font-weight: bolder;
  text-transform: uppercase;
  color: red;
  overflow-wrap: break-word;
  line-height: 56px;
}

.recipe-container {
  background: white;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
  word-wrap: break-word;
  /* background: yellow; */
  transition: 0.2s;
  
}

.recipe-container:hover {
  transform: scale(1.2);
}

.recipe-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

body {
  /* background: whitesmoke; */
  background:red;
  font-family: 'Dosis', sans-serif;
  
}